<html>
<script>


    function toggleFullScreen(elem) {
        // ## The below if statement seems to work better ## if ((document.fullScreenElement && document.fullScreenElement !== null) || (document.msfullscreenElement && document.msfullscreenElement !== null) || (!document.mozFullScreen && !document.webkitIsFullScreen)) {
        if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
            if (elem.requestFullScreen) {
                elem.requestFullScreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullScreen) {
                elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            }
        } else {
            if (document.cancelFullScreen) {
                document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
                document.webkitCancelFullScreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            }
        }
    }

    window.onload = function () {
        setInterval(() => {
            fetch('/images').then(response => response.json()).then(({ images }) => {
                document.getElementById("img1").style.backgroundImage = "url('" + images[0] + "')";
                document.getElementById("img2").style.backgroundImage = "url('" + images[1] + "')";
                document.getElementById("img3").style.backgroundImage = "url('" + images[2] + "')";
            })
            var currentTime = new Date().getHours();
            if (0 <= currentTime && currentTime < 8) {
                document.getElementById("hover").style.opacity = "80%";
            }else{
                document.getElementById("hover").style.opacity = "0%";
            }
        }, 1000 * 60 * 30);
        const el = document.getElementById('hover');
        console.log(el)
        el.addEventListener('click', () => toggleFullScreen(document.body), false);
    }

</script>
<style>
    *:fullscreen,
    *:-webkit-full-screen,
    *:-moz-full-screen {
        background-color: rgba(255, 255, 255, 0);
    }


    body,
    html {
        background-color: #ffffff;

        margin: 0px;

        border: 0px;
    }

    .grid {
        margin-left: 0vw;
        width: 100%;
        height: 100%;
    }

    .item {
        margin: 3vh 2vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;


    }

    .item:nth-child(1) {
        float: left;
        width: 52vw;
        height: calc(100vh - 6vh);
        ;
    }

    .item:nth-child(2),
    .item:nth-child(3) {
        float: left;
        width: 42vw;
        margin-left: 0;
        height: calc(50vh - 4.5vh);
        ;
    }

    .item:nth-child(3) {
        margin-top: 0;
    }

    #hover {
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0%;
    }
</style>

<body>
    <div id="hover">pepe</div>
    <div id="wrapper" class="grid">
        <div id="img1" class="item" style="background-image: url(<%=images[0]%>)"></div>
        <div id="img2" class="item" style="background-image: url(<%=images[1]%>)"></div>
        <div id="img3" class="item" style="background-image: url(<%=images[2]%>)"></div>
    </div>

</body>


</html>